* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

nav {

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 8%;
  transition: background 1s;
  margin-bottom: 39px;
  background-color: #302e2e;
}

nav .logo {

  display: flex;
  align-items: center;
  font-size: 26px;
  font-weight: 600;
  counter-reset: #fff;

}

nav .logo span {

  color: #474747;

}

nav .logo img {

  width: 190px;
  margin-right: 10px;

}


body {
  background-color: #060126;
  font-family: system-ui;
  width: auto;
  height: auto;
}

.alinhar {
  clear: both;
}


.qtdUsuarios {
  width: 25%;
  float: left;
}

.caixa {
  width: 85%;
  height: 100px;
  background-color: #48048c;
  margin-left: 10px;
  padding: 10px;
  border-radius: 10px;
}

.caixa p {
  font-size: 35px;
  color: white;
  font-weight: bold;
  line-height: 30px;
  padding-left: 10px;
  margin-top: 20px;
  display: inline-block;
}

.caixa p span {
  font-size: 20px;
  font-weight: 400;
  color: #0c0c0c;
}

.dash {
  width: 70%;
  float: left;
}

.caixa2 {
  width: 95%;
  background-color: #48048c;
  height: auto;
  border-radius: 10px;

}

.caixa2 {
  margin-left: 10px;

}

/* barra de rolagem */

::-webkit-scrollbar {

  width: 15px;

}

::-webkit-scrollbar-track {

  background: #333;

}

::-webkit-scrollbar-thumb {

  background: linear-gradient(#0A3A40, #1D7373);
  border-radius: 10px;


}