/* Define estilos padrão para todos os elementos */
* {
    margin: 0; /* Define a margem como zero */
    padding: 0; /* Define o preenchimento como zero */
    box-sizing: border-box; /* Define o modelo de caixa como border-box */
    font-family: 'poppins', sans-serif; /* Define a fonte como Poppins e sans-serif */
}

nav {
    width: 100%; /* Define a largura como 100% */
    padding: 20px 0; /* Define o preenchimento superior e inferior como 20px e o preenchimento esquerdo e direito como 0 */
    text-align: center; /* Alinha o texto ao centro */
}

/* Estilos para o logotipo */
.logo {
    width: 210px; /* Define a largura como 210px */
    height: 120px; /* Define a altura como 120px */
    margin: 2px; /* Define a margem como 2px */
    cursor: pointer; /* Define o cursor como ponteiro */
}

/* Estilos para a lista de navegação */
nav ul {
    background: #000; /* Define o fundo como preto (#000) */
    width: 100%; /* Define a largura como 100% */
    margin-top: 10px; /* Define a margem superior como 10px */
}

nav ul li  {
    display: inline-block; /* Exibe em linha */
    list-style: none; /* Remove os marcadores de lista */
    margin: 20px 30px; /* Define a margem como 20px no topo e na base e 30px nos lados */
    text-decoration: none; /* Remove a decoração do texto */
}

nav ul li a {
    text-decoration: none; /* Remove a decoração do texto */
    color: #fff; /* Define a cor do texto como branco (#fff) */
}

body{
    background-image: url(../assets/imgs/Capturar5.PNG); /* Define a imagem de fundo */
    background-position: center; /* Posiciona o fundo no centro */
    background-size: cover; /* Ajusta o tamanho do fundo para cobrir */
    overflow-x: hidden; /* Esconde a barra de rolagem horizontal */
}

.caixa {
    margin: 60px auto; /* Define a margem superior e inferior como 60px e a margem esquerda e direita como automática */
    width: 600px; /* Define a largura como 600px */
}

.caixa .conteudo {
    list-style: none; /* Remove os marcadores de lista */
    width: 100%; /* Define a largura como 100% */
    margin: 20px; /* Define a margem como 20px */
    padding: auto; /* Define o preenchimento como automático */
    border-radius: 8px; /* Define o raio da borda como 8px */
    background: #48048c; /* Define o fundo como roxo (#48048c) */
    box-shadow: 6px 6px 10px -1px #00000026, -6px -6px 10px -1px #460273; /* Define a sombra */
    display: flex; /* Exibe como flex */
    display: inline-block; /* Exibe em linha */
    align-items: center; /* Alinha os itens ao centro verticalmente */
}

.caixa .conteudo label {
    display: flex; /* Exibe como flex */
    align-items: center; /* Alinha os itens ao centro verticalmente */
    padding: 10px; /* Define o preenchimento como 10px */
    font-size: 18px; /* Define o tamanho da fonte como 18px */
    font-weight: 500; /* Define o peso da fonte como 500 */
    cursor: pointer; /* Define o cursor como ponteiro */
}

.inputs{
    display: flex; /* Exibe como flex */
    align-items: center; /* Alinha os itens ao centro verticalmente */
    flex-direction: column; /* Define a direção do flex como coluna */
    background-position: center; /* Posiciona o plano de fundo no centro */
    background-size: cover; /* Ajusta o tamanho do plano de fundo para cobrir */
}

input[type="number"] {
    height: 23px; /* Define a altura como 23px */
    border-radius: 10px; /* Define o raio da borda como 10px */
}

input,
input::placeholder{ 
    text-align: center; /* Alinha o texto ao centro */
}

a {
    text-decoration: none; /* Remove a decoração do texto */
    color: black; /* Define a cor do texto como preto */
    font-size: 17px; /* Define o tamanho da fonte como 17px */
}

img{
    width: 600px; /* Define a largura como 600px */
    height: 200px; /* Define a altura como 200px */
}

h3, h4{
    color: black; /* Define a cor do texto como preto */
}

.btn{
    width: 80px; /* Define a largura como 80px */
    height: 35px; /* Define a altura como 35px */
    background: #460273; /* Define o fundo como roxo escuro (#460273) */
    color: #000000; /* Define a cor do texto como preto */
    border-radius: 8px; /* Define o raio da borda como 8px */
}

p, div{
    color: #000000; /* Define a cor do texto como preto */
}

/* Estilos para a barra de rolagem */
::-webkit-scrollbar {
    width: 15px; /* Define a largura como 15px */
}

/* Estilos para a parte de fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background: #000; /* Define o fundo como preto (#000) */
}

/* Estilos para o indicador da barra de rolagem */
::-webkit-scrollbar-thumb {
    background: linear-gradient(#48048c, #060126); /* Define o plano de fundo como um gradiente linear */
    border-radius: 10px; /* Define o raio da borda como 10px */
}
