* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav {

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8%;
    transition: background 1s;
    margin-bottom: 39px;
    background-color: #000;
}

nav .logo {

    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: 600;
    counter-reset: #fff;

}

nav .logo span {

    color: #460273;

}

nav .logo img {

    width: 190px;
    margin-right: 10px;

}




body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(rgba(10, 10, 10, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/imgs/mma-wallpaper.jpg);
    background-position: center;
    background-size: cover;
}

.caixa {

    margin: auto;
    width: 600px;
    text-align: center;

    }
    
    .caixa .conteudo {
    
    list-style: none;
    width: 300px;
    height: 350px;
    padding: auto;
    border-radius: 8px;
    background: #48048c;
    display: inline-block;
    align-items: center;

    
    }

.caixa .conteudo  a {
    color: #000;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.caixa .conteudo h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}
